*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background: rgb(0,11,42);
    background: linear-gradient(0deg, rgba(0,11,42,0.41780462184873945) 0%, rgba(129,182,255,0.28895308123249297) 100%);
}